<div class="row">
    <div class="col m12">
        <h2>All friuts</h2>
    </div>
    {{#each fruits}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src={{img}} alt="image">
                <span style="color: {{color}} !important; text-transform:uppercase;" class="card-title">{{name}}</span>
            </div>
            <div class="card-content">
                <p>The color of this {{name}} is {{color}}</p>
                <div class="ed">
                    <a href="/fruits/form/{{id}}">Edit</a>
                    <a href="/fruits/delete/{{id}}" onclick="alert('Do you really want to delete it')">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<a href="/fruits/add">Add fresh fruit</a>